In [13]:
import django_initializer
import pandas as pd
from pandas import json_normalize
import arrow
from backend.pymongo.mongodb import db

In [14]:
def analysis_order(start_time, end_time):
    
    cursor=db.api_campaign.aggregate([
        {
            "$match":{
                "start_at":{
                    "$gte": start_time
                },
                "end_at": {
                    "$lte": end_time
                }
            }
        },
        {
            "$lookup": {
                "from": "api_order",
                "as": "orders", 
                'let': {'id': "$id" },
                "pipeline":[
                    {
                        "$match":{
                            '$expr': { '$eq': ["$$id", "$campaign_id"] },
                            "id":{"$ne":None},
                        }
                    },
                    {"$addFields": { "new_type": "$status"}}
                ]
            },
        },
        {
            "$lookup": {
                "from": "api_pre_order",
                "as": "pre_orders", 
                'let': {'id': "$id" },
                "pipeline":[
                    {
                        "$match":{
                            '$expr': { '$eq': ["$$id", "$campaign_id"] },
                            "id":{"$ne":None},
                            "subtotal": {"$ne" : 0}
                        }
                    },
                    {"$addFields": { "new_type": "cart"}}
                ]
            },
        },
        {"$project":{"_id":0,"data":{"$concatArrays":["$orders","$pre_orders"]}}},
        { "$unwind": "$data" },
        
        { "$group": {
                "_id": {
                    "id": "$data.campaign_id",
                    "status": "$data.new_type"
                },
                "campaign_id": {"$first": "$data.campaign_id"},
                "status": {"$first": "$data.new_type"},
                "qty": {"$sum": 1},
                "total": {"$sum": "$data.total"}
           }
        },
        {
            "$project":{
                "_id":0,

            }
        },
        
        { "$sort" : { "campaign_id" : 1 } }
    ])
    return list(cursor)

In [15]:
start_time = "2022-06-15"
end_time = "2022-06-20"
start_time = arrow.get(start_time).replace(hour=0, minute=0, second=0).datetime
end_time = arrow.get(end_time).replace(hour=23, minute=59, second=59).datetime
report  = analysis_order(start_time, end_time)
display(report)

[{'campaign_id': 494, 'status': 'complete', 'qty': 2, 'total': 322.0},
 {'campaign_id': 494, 'status': 'review', 'qty': 1, 'total': 161.0},
 {'campaign_id': 494, 'status': 'cart', 'qty': 10, 'total': 31597.5},
 {'campaign_id': 495, 'status': 'cart', 'qty': 1, 'total': 15.99},
 {'campaign_id': 496, 'status': 'complete', 'qty': 1, 'total': 127.92},
 {'campaign_id': 496, 'status': 'cart', 'qty': 1, 'total': 31.98},
 {'campaign_id': 497, 'status': 'cart', 'qty': 1, 'total': 15.0},
 {'campaign_id': 497, 'status': 'complete', 'qty': 2, 'total': 25.0},
 {'campaign_id': 499, 'status': 'complete', 'qty': 1, 'total': 8870.0},
 {'campaign_id': 500, 'status': 'complete', 'qty': 2, 'total': 51.0},
 {'campaign_id': 500, 'status': 'cart', 'qty': 2, 'total': 140.0},
 {'campaign_id': 501, 'status': 'cart', 'qty': 2, 'total': 1270.0},
 {'campaign_id': 501, 'status': 'complete', 'qty': 1, 'total': 390.0},
 {'campaign_id': 502, 'status': 'cart', 'qty': 1, 'total': 19.54},
 {'campaign_id': 507, 'status': 'cart', 'qty': 2, 'total': 10683.0},
 {'campaign_id': 509, 'status': 'cart', 'qty': 2, 'total': 1800.0},
 {'campaign_id': 509, 'status': 'review', 'qty': 1, 'total': 900.0},
 {'campaign_id': 510, 'status': 'cart', 'qty': 2, 'total': 21.1},
 {'campaign_id': 510, 'status': 'review', 'qty': 2, 'total': 32.97},
 {'campaign_id': 510,
  'status': 'complete',
  'qty': 2,
  'total': 64.99000000000001},
 {'campaign_id': 512, 'status': 'complete', 'qty': 2, 'total': 241.05},
 {'campaign_id': 512, 'status': 'review', 'qty': 1, 'total': 80.35},
 {'campaign_id': 512, 'status': 'cart', 'qty': 1, 'total': 0.7000000000000028},
 {'campaign_id': 513, 'status': 'complete', 'qty': 2, 'total': 1620.0},
 {'campaign_id': 513, 'status': 'cart', 'qty': 1, 'total': 800.0},
 {'campaign_id': 515, 'status': 'complete', 'qty': 1, 'total': 11.0},
 {'campaign_id': 517, 'status': 'complete', 'qty': 1, 'total': 5161.0},
 {'campaign_id': 517, 'status': 'review', 'qty': 1, 'total': 115.5},
 {'campaign_id': 517, 'status': 'cart', 'qty': 4, 'total': 457.5},
 {'campaign_id': 520, 'status': 'complete', 'qty': 1, 'total': 810.0},
 {'campaign_id': 520, 'status': 'cart', 'qty': 1, 'total': 250.0},
 {'campaign_id': 521, 'status': 'cart', 'qty': 2, 'total': 1840.0},
 {'campaign_id': 521, 'status': 'complete', 'qty': 1, 'total': 0.0},
 {'campaign_id': 522, 'status': 'complete', 'qty': 1, 'total': 10.0},
 {'campaign_id': 523, 'status': 'complete', 'qty': 1, 'total': 1080.0},
 {'campaign_id': 523, 'status': 'cart', 'qty': 1, 'total': 980.0},
 {'campaign_id': 524, 'status': 'complete', 'qty': 1, 'total': 220.0},
 {'campaign_id': 525, 'status': 'review', 'qty': 1, 'total': 24000.0},
 {'campaign_id': 525, 'status': 'cart', 'qty': 3, 'total': 4800.0}]

In [80]:
def checkLack(x):
    if len(x) == 1 and x[0] == "paid":
        return "unpaid"
    elif len(x) == 1 and x[0] == "unpaid":
        return "paid"
    else:
        return ""
def insert_0(x):
    cols = ['qty', 'total', 'percentage_of_qty', 'percentage_of_total']
    if x["lack"] == "paid":
        return [[0] + x[col] for col in cols]
    elif x["lack"] == "unpaid":
        return [x[col] + [0] for col in cols]
    else:
        return [x[col] for col in cols]
        
df = json_normalize(report)
df.loc[:,"new_status"] = df["status"].apply(lambda x: 'unpaid' if x in ['review', 'cart'] else 'paid')
df = df.groupby(["campaign_id", "new_status"]).agg({'qty': 'sum', 'total': 'sum'}).reset_index()

df = df.groupby(["campaign_id"]).agg({'new_status': list, 'qty': list, 'total':list}).reset_index()
df.loc[:, "lack"] = df["new_status"].apply(checkLack)


df.loc[:, "percentage_of_qty"] = df["qty"].apply(lambda x: [round(i/sum(x)*100,2) for i in x])
df.loc[:, "percentage_of_total"] = df["total"].apply(lambda x: [round(i/sum(x)*100,2) for i in x])


df["qty"], df["total"], df['percentage_of_qty'], df['percentage_of_total'] = zip(*df.apply(insert_0, axis=1))
df.loc[:, "status"] = df.apply(lambda _: ["paid", "unpaid"], axis=1)

In [81]:
display(df)

,campaign_id,new_status,qty,total,lack,percentage_of_qty,percentage_of_total,status
0,494,"[paid, unpaid]","[2, 11]","[322.0, 31758.5]",,"[15.38, 84.62]","[1.0, 99.0]","[paid, unpaid]"
1,495,[unpaid],"[0, 1]","[0, 15.99]",paid,"[0, 100.0]","[0, 100.0]","[paid, unpaid]"
2,496,"[paid, unpaid]","[1, 1]","[127.92, 31.98]",,"[50.0, 50.0]","[80.0, 20.0]","[paid, unpaid]"
3,497,"[paid, unpaid]","[2, 1]","[25.0, 15.0]",,"[66.67, 33.33]","[62.5, 37.5]","[paid, unpaid]"
4,499,[paid],"[1, 0]","[8870.0, 0]",unpaid,"[100.0, 0]","[100.0, 0]","[paid, unpaid]"
5,500,"[paid, unpaid]","[2, 2]","[51.0, 140.0]",,"[50.0, 50.0]","[26.7, 73.3]","[paid, unpaid]"
6,501,"[paid, unpaid]","[1, 2]","[390.0, 1270.0]",,"[33.33, 66.67]","[23.49, 76.51]","[paid, unpaid]"
7,502,[unpaid],"[0, 1]","[0, 19.54]",paid,"[0, 100.0]","[0, 100.0]","[paid, unpaid]"
8,507,[unpaid],"[0, 2]","[0, 10683.0]",paid,"[0, 100.0]","[0, 100.0]","[paid, unpaid]"
9,509,[unpaid],"[0, 3]","[0, 2700.0]",paid,"[0, 100.0]","[0, 100.0]","[paid, unpaid]"
10,510,"[paid, unpaid]","[2, 4]","[64.99000000000001, 54.07]",,"[33.33, 66.67]","[54.59, 45.41]","[paid, unpaid]"
11,512,"[paid, unpaid]","[2, 2]","[241.05, 81.05]",,"[50.0, 50.0]","[74.84, 25.16]","[paid, unpaid]"
12,513,"[paid, unpaid]","[2, 1]","[1620.0, 800.0]",,"[66.67, 33.33]","[66.94, 33.06]","[paid, unpaid]"
13,515,[paid],"[1, 0]","[11.0, 0]",unpaid,"[100.0, 0]","[100.0, 0]","[paid, unpaid]"
14,517,"[paid, unpaid]","[1, 5]","[5161.0, 573.0]",,"[16.67, 83.33]","[90.01, 9.99]","[paid, unpaid]"
15,520,"[paid, unpaid]","[1, 1]","[810.0, 250.0]",,"[50.0, 50.0]","[76.42, 23.58]","[paid, unpaid]"
16,521,"[paid, unpaid]","[1, 2]","[0.0, 1840.0]",,"[33.33, 66.67]","[0.0, 100.0]","[paid, unpaid]"
17,522,[paid],"[1, 0]","[10.0, 0]",unpaid,"[100.0, 0]","[100.0, 0]","[paid, unpaid]"
18,523,"[paid, unpaid]","[1, 1]","[1080.0, 980.0]",,"[50.0, 50.0]","[52.43, 47.57]","[paid, unpaid]"
19,524,[paid],"[1, 0]","[220.0, 0]",unpaid,"[100.0, 0]","[100.0, 0]","[paid, unpaid]"
20,525,[unpaid],"[0, 4]","[0, 28800.0]",paid,"[0, 100.0]","[0, 100.0]","[paid, unpaid]"

In [42]:
a = [1,2]
display(sum(a))

3